**/.DS_Store
nbproject
manifest.md
build.xml
*.js.map
.project
.settings
.idea/*
docs/*
vendor/
public/

test-results.xml
components/
node_modules/*
.sass-cache/*
tmp/*
test/coverage/
npm-debug.log

test/test-results.xml
PSD/

*.sublime-*
