@font-face {
  font-family: 'icomoon';
  src:url('../font/icomoon.eot');
  src:url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../font/icomoon.svg#icomoon') format('svg'),
    url('../font/icomoon.woff') format('woff'),
    url('../font/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
