@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
$font-family-body:      'Source Sans Pro', 'Helvetica Neue', sans-serif;
$font-family-headings:  'Bebas Neue', sans-serif;
$font-family-mono:      consolas, monotype;
